<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-2 grid-left p-0">
      <%= render 'left' %>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-12 p-0">
          <%= render 'header' %>
        </div>
      </div>
      <div class="row ">
        <div class="col-9  border border-top-0 border-left-0 border-bottom-0 p-5">
          <p id="notice"><%= notice %></p>
          <h1>Login</h1>
          <%= form_tag sessions_path do |form| %>
              <div class="form-group">
                <%= label_tag :username, "Username", :class => 'control-label col-4' %>
                <div class="col-8">
                  <%= text_field_tag :username%>
                </div>
              </div>
              <div class=”actions”>
                <%= submit_tag "Login" %>
              </div>
          <% end %>
    </div>
  </div>
</div>
<%= render 'footer' %>