<%= link_to "Homepage", root_path %>
<%= form_with(model: user, local: true, html:{class: 'form-horizontal'} ) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :username, class: 'control-label col-2' %>
    <div class="col-10">
      <%= form.text_field :username %>
    </div>
  </div>
  
  <div class="form-group">
    <%= form.label :image, class: 'control-label col-2' %>
    <div class="col-10">
      <%= form.file_field :image %>
    </div>
  </div>
  <div class="field">
    <%= form.label :cover, class: 'control-label col-2' %>
    <div class="col-10">
      <%= form.file_field :cover %>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :fullname, class: 'control-label col-2' %>
    <div class="col-10">
      <%= form.text_field :fullname %>
    </div>
  </div>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
