<% if user_signed_in? %>
  
  <div class="d-flex border border-right-0 border-left-0 border-top-0 py-4 flex-column align-items-center">
    <%= image_tag @user.image, style: "width: 90px; height: 90px; display:block; border-radius: 50%" %>
    <h6 class='h6 mt-2'><%= @user.username%></h6>
    <small class='text-secondary'>@<%= @user.fullname%></small>
    <% if !current_user.following?(@user) && current_user != @user %>
      <%= form_for(current_user.active_relationships.build) do |form| %>
        <%= form.hidden_field :followed_id, value: @user.id %>
        <%= form.submit 'Follow', class: 'btn btn-info text-white' %>
      <%end%>
    <% elsif current_user != @user%>
      <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
          html: { method: :delete}) do |f| %>
          <%= f.submit 'Unfollow', class: 'btn btn-default'%>
      <% end %>
    <% end %>
  </div>
  <div class="d-flex  followers px-1">
    <div class='d-flex flex-column align-items-center border py-2 px-3  border-left-0'>
      <span class='followers-num'><%= @user.posts.count %> </span>
      <span>
        Tweets
      </span>
    </div>
    <div class='d-flex flex-column align-items-center border py-2 px-3 border-left-0'>
      <span class='followers-num'> <%= @user.following.count%> </span>
      <span>
        Following
      </span>
    </div>
    
    <div class='d-flex flex-column align-items-center border border-right-0 py-2 px-3  '>
      <span class='followers-num'> <%= @user.followers.count%> </span>
      <span>
        Followers
      </span>
    </div>
  </div>
  <div class='px-3'>
  <h6 class='border border-top-0 border-right-0 border-left-0 py-4 who'>Followed by</h6>
  <% @user.followers.each do |user| %>
    <div class="d-flex flex-column px-4">
      <div class="d-flex py-3">
        <%= image_tag user.image, style: "width: 50px; height: 50px; display:block; border-radius: 50%" %>
        <%= link_to user.username, user_path(user), class: "h6 m-3 links-color" %>
      </div>
    </div>
  <%end%>
  </div>
<% end %>