<% if user_signed_in? %>
  <div class=" bg-white p-3 m-5">
    <h4>TWEET</h4>
    <%= form_for @post, html: { class: 'form-inline' } do |form| %>
        <%= form.text_field :content, class: 'form-control', placeholder: 'compose a tweet' %>
        <%= form.submit "TWEET", class: 'btn btn-info text-white'%>
    <%end%>
  </div>
<%end%>

<div class=" bg-white p-3 m-5">
  <div class='border border-top-0 border-left-0 border-right-0 pb-3'>
    <a class='h6'>NEW TWEETS</a>
  </div>
  <% if @posts.length > 0%>
    <% @posts.each do |post| %>
        <div class="d-flex py-3">
          <%= image_tag post.user.image, style: "width: 50px; height: 50px; display:block;"%>
          <div class="d-flex flex-column  ml-3">
            <%= link_to post.user.username, user_path(post.user), class: "h6 links-color" %>
            <span class='text-secondary'><%=post.content%> </span>
          </div>
        </div>
  <% end %>
  <%elsif user_signed_in? && @posts.length < 1 %>
    <h5 class='p-3'>Be the first one to tweet.</h5>
  <%else%>
    <ul class="d-flex  w-100 mx-2  py-2 align-items-start flex-column list-unstyled">
      <li><%= link_to 'Login', login_path %></li>
      <li><%= link_to 'signup', signup_path %></li>
    </ul>
  <%end%>
</div>