<!DOCTYPE html>
<html>
  <head>
    <title>Kwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to 'logout', logout_path %>
    <%else%>
      <%= link_to 'Login', login_path %> <br>
      <%= link_to 'signup', signup_path %>
    <%end%>
    <%= yield %>
  </body>
</html>
